

 <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>Login With</span>
                            <ul>
                                <li> <%- if devise_mapping.omniauthable? %>
						  <%- resource_class.omniauth_providers.each do |provider| %>
						    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "facebook" %>
						  <% end %> 
								</li> 
                                <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>	
            </div>
            
<% end %>

