<header class="main-header">
    <!-- Logo -->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
     <span class="sr-only">Admin</span>
    </a> 

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          
            
                <!-- inner menu: contains the actual data -->
                
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" >
              <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/73224493_2467163513519081_4321044881427398656_o.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=599diAJHiV0AX_daM5b&_nc_ht=scontent.fhan4-1.fna&oh=26b28920bc95155e091d98bf4ccde40c&oe=5FA9B7BE" class="user-image" alt="User Image">
              <span class="hidden-xs">Phan Anh Đức - </span><b> <%= t ".Admin" %> </b>
            </a>     
      </div>

    </nav>
  </header>