<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header text-center">
      <h1>
        Create A Film
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Films</a></li>
        <li class="active">New</li>
      </ol>
    </section>
        <!-- Main content -->
        <div class="blog__details__form">
            <%= render 'form' %>
        </div>

</div>


