// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "elegant-icons";
@import "font-awesome";
@import "nice-select";
@import "plyr";
@import "style";
@import "_footer";
@import "_header";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
// background-image  của trang Sign In & Sign Up.
.normal-breadcrumb {
	background-image: url(normal-breadcrumb.jpg);
}

.field {
	color: white;
}

// CSS không cho chuột trỏ vào video Homepage.
.noHover{
    pointer-events: none;
}

body {
	background-color: #0b0c2a !important;
}

.u {
	background-color: white;
}

.input[type=text] {
	width: 100%;
    border: none;
    border-bottom: 4px solid #8842d5;  

}

.box12 {
	background-color: #FFFAF0;
	margin-bottom: 50px
}

.img_review {
	width : 100px ;  
	height : 100px ;

}

.rank {
	float-top: 500px; 
}